body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, strong {
  font-weight: 600;
}

header {
  margin-bottom: 50px;
}

header a.nav-link {
  color: #fff;
}

header a.nav-link:hover {
  text-decoration: underline;
}
header a.actif {
  text-decoration: underline;
  font-weight: bold;
  color: #fff;
  opacity: 80%;
}
footer a.nav-link:hover {
  font-weight: bold;
}
footer a svg:hover {
  background-color: #fff;
}


section {
  height: auto;   
}

.block {
  align-content: center;
}

hr.h-2 {
  color: blue;
  border: solid 2px;
  opacity: 1;    
}

hr.h-3 {
  color: blue;
  border: solid 3px;
  opacity: 1;
}

.bg-img {
  height: 500px;
  background-image: url(../public/img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.padside-10 {
  padding: 0 10%;   
}
.padside-20 {
  padding: 0 20%;   
}

u {
  color: blue;
}

.card {
  height: 500px;
}
.card:hover {
  box-shadow:  0 1rem 1.5rem #efefef;
  background-color: #efefef;
}

.card-body .btn-primary:hover {
  opacity: 75%;
}

.accordion {
  border: solid 1px #efefef;
  border-radius: 8px;
}

svg.bi-geo-alt, svg.bi-phone {
  color: darkgreen;
}

textarea {
  height: 250px;
}

img.map {
  height: 300px;
  width: 300px;
}